name: release

on:
  push:
  release:
    types: [published]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'
    - name: Rebase to release branch
      run: |
        git fetch --prune --unshallow
        git checkout release
        git rebase ${{ github.ref }} release
        git push https://${{github.actor}}:${{secrets.GITHUB_TOKEN}}@github.com/${{github.repository}}.git HEAD:/refs/heads/release || echo "No changes to commit"
