name: release

on:
  release:
    types: [published]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: '0'
    - name: Rebase to release branch
      run: |
        git config --global user.name "[drat bot]"
        git log --oneline --decorate
        git fetch --prune --no-tags --depth=1 origin +refs/heads/*:refs/remotes/origin/*
        git log --oneline --decorate
        # git checkout release
        # git rebase ${{ github.ref }} release
        # git push https://${{github.actor}}:${{secrets.GITHUB_TOKEN}}@github.com/${{github.repository}}.git HEAD:release || echo "No changes to commit"
